.result {
	background: #fefefe;

	padding: 10% var(--baseIndent) 22%;

	display: flex;
	flex-flow: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}

.result_user_restart {
	display: block;
	font-size: 18px;
	font-weight: normal;
	border-bottom: 1px solid currentColor;
	transition: color .1s;
}

.result_user_restart:hover {
	color: #af0000;
}

.result_user_restart:before {
	content: '\003E\0020'
}

.result_score {
	position: relative;
	padding: 0 0 0 120px;
}

.result_score:after {
	display: block;
	content: '/';
	position: absolute;
	left: 0;
	top: 0;
	font-size: 200px;
}

.result_score span {
	display: block;
}

.result_score_text {
	font-size: 200px;
}

.result_score_tooltip {
	text-transform: uppercase;
	margin: 0 0 0 14px;
	font-size: 40px;
}

.result_user {
	display: block;
	height: auto;
	width: 780px;
	margin: 20px 0 0 0;
}

.result_user_name {
	display: block;
	height: 45px;
	width: 660px;
	margin: 0 auto;
	vertical-align:middle;
	line-height: 45px;
	font-size: 22px;
	position: relative;
	text-align: center;
}

.result_user_name:before,
.result_user_name:after {
	display: block;
	position: absolute;
	top: 0;
	width: 20px;
	height: 100%;
	font-size: 46px;
}

.result_user_name:before {
	left: 0;
	content: '\005B';
}

.result_user_name:after {
	right: 0;
	content: '\005D';
}
